<plugin
  id="br.ufes.inf.nemo.frameweb.vp"
  description="FrameWeb Plugin for Visual Paradigm v0.1"
  provider="Ontology and Conceptual Modeling Research Group - NEMO/UFES"
  class="br.ufes.inf.nemo.frameweb.vp.FrameWebPlugin">

  <actionSets>
    <!-- Toolbar Actions. -->
    <actionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.main">
      <!-- Main toolbar of the plug-in. -->
      <toolbar
        id="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar"
        orientation="north"
        index="last" />
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.main.menu"
        label="FrameWeb"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/#" />

      <!-- Toolbar Button: Check Model. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/correct_4436481 -->
      <!-- Icon author: https://www.flaticon.com/authors/kliwir-art -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actions.CheckModelAction"
        actionType="generalAction"
        description="Tests if the model complies to FrameWeb's syntactical constraints."
        style="normal"
        tooltip="Tests if the model complies to FrameWeb's syntactical constraints."
        icon="icons/checkmark-green.png"
        label="Check Model"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.CheckModelController" />
      </action>
      <!-- -->

      <!-- Toolbar Button: Plug-in Settings. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/settings_597292 -->
      <!-- Icon author: https://www.flaticon.com/authors/prosymbols -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actions.OpenPluginSettingsAction"
        actionType="generalAction"
        description="Opens the FrameWeb Tools Settings window."
        style="normal"
        tooltip="Opens the FrameWeb Tools Settings window"
        icon="icons/gear-and-wrench.png"
        label="FrameWeb Tools Settings"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.OpenPluginSettingsController" />
      </action>
      <!-- -->
    </actionSet>
    <!-- -->

    <!-- Context-menus (right-click) for UML Package elements. -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package">
      <!-- Applies to packages. -->
      <contextTypes all="false" />
      <include type="Package" />

      <!-- Menu: Set FrameWeb Stereotype. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype"
        label="Set FrameWeb Stereotype"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Set FrameWeb Stereotype > View Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-v_3097105 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.view"
        label="View Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-v-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Persistence Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-p_3097071 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.persistence"
        label="Persistence Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-p-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Entity Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.entity"
        label="Entity Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Controller Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-c_3096988 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.controller"
        label="Controller Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-c-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Application Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-a_3096983 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.application"
        label="Application Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-a-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype" />
    </contextSensitiveActionSet>
    <!-- -->

    <!-- Context-menus (right-click) for UML Class elements. -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class">
      <!-- Applies to classes. -->
      <contextTypes all="false" />
      <include type="Class" />

      <!-- Menu: FrameWeb Stereotypes. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotypes"
        label="FrameWeb Stereotypes"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotypes" />
    </contextSensitiveActionSet>
    <!-- -->
  </actionSets>
</plugin>