<plugin
  id="br.ufes.inf.nemo.frameweb.vp"
  description="FrameWeb Plugin for Visual Paradigm v0.1"
  provider="Ontology and Conceptual Modeling Research Group - NEMO/UFES"
  class="br.ufes.inf.nemo.frameweb.vp.FrameWebPlugin">

  <actionSets>
    <!-- **************** -->
    <!-- Toolbar Actions. -->
    <!-- **************** -->
    <actionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.main">
      <!-- Main toolbar of the plug-in. -->
      <toolbar
        id="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar"
        orientation="north"
        index="last" />
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.main.menu"
        label="FrameWeb"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/#" />

      <!-- Toolbar Button: Generate Code. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/coding_711284 -->
      <!-- Icon author: https://www.flaticon.com/authors/Kiranshastry -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actions.GenerateCodeAction"
              actionType="generalAction"
              description="Generates code for the model."
              style="normal"
              tooltip="Generates code for the model."
              icon="icons/coding.png"
              label="Generate Code for FrameWeb Model"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.GenerateCodeController" />
      </action>
      <!-- -->

      <separator id="br.ufes.inf.nemo.frameweb.vp.separator.beforeCheckModelAction"
                 menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#" />
      <!-- Toolbar Button: Check Model. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/correct_4436481 -->
      <!-- Icon author: https://www.flaticon.com/authors/kliwir-art -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actions.CheckModelAction"
        actionType="generalAction"
        description="Tests if the model complies to FrameWeb's syntactical constraints."
        style="normal"
        tooltip="Tests if the model complies to FrameWeb's syntactical constraints."
        icon="icons/checkmark-green-circle.png"
        label="Check FrameWeb Model"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.CheckModelController" />
      </action>
      <!-- -->

      <separator id="br.ufes.inf.nemo.frameweb.vp.separator.beforeOpenPluginSettingsAction"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#" />

      <!-- Toolbar Button: Plug-in Settings. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/settings_597292 -->
      <!-- Icon author: https://www.flaticon.com/authors/prosymbols -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actions.OpenPluginSettingsAction"
        actionType="generalAction"
        description="Opens the FrameWeb Tools Settings window."
        style="normal"
        tooltip="Opens the FrameWeb Tools Settings window"
        icon="icons/gear-and-wrench.png"
        label="FrameWeb Tools Settings"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.OpenPluginSettingsController" />
      </action>
      <!-- -->

      <!-- Toolbar Button: Reload Plug-in. -->
      <!-- Icon source: https://www.flaticon.com/free-icon/reloading_5690471 -->
      <!-- Icon author: https://www.flaticon.com/authors/iyahicon -->
      <!-- action
        id="br.ufes.inf.nemo.frameweb.vp.actions.ReloadPluginAction"
        actionType="generalAction"
        description="Reloads the FrameWeb Tools plug-in."
        style="normal"
        tooltip="Reloads the FrameWeb Tools plug-in"
        icon="icons/circular-arrow-red-circle.png"
        label="Reload FrameWeb Tools"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.main.toolbar/br.ufes.inf.nemo.frameweb.vp.actionset.main.menu/#" -->
        <!-- actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.ReloadPluginController" / -->
      <!-- /action -->
      <!-- -->
    </actionSet>
    <!-- -->

    <!-- ***************************************************** -->
    <!-- Context-menus (right-click) for UML Package elements. -->
    <!-- ***************************************************** -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package">
      <!-- Applies to packages. -->
      <contextTypes all="false" />
      <include type="Package" />

      <!-- Menu: Set FrameWeb Stereotype. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype"
        label="Set FrameWeb Stereotype"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Set FrameWeb Stereotype > View Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-v_3097105 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.view"
        label="View Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-v-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Persistence Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-p_3097071 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.persistence"
        label="Persistence Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-p-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Entity Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.entity"
        label="Entity Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Controller Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-c_3096988 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.controller"
        label="Controller Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-c-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Application Package -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-a_3096983 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype.application"
        label="Application Package"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype/#"
        icon="icons/letter-a-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToPackageContextController" />
      </action>

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.package.menu.stereotype" />
    </contextSensitiveActionSet>
    <!-- -->

    <!-- *************************************************** -->
    <!-- Context-menus (right-click) for UML Class elements. -->
    <!-- *************************************************** -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class">
      <!-- Applies to classes. -->
      <contextTypes all="false" />
      <include type="Class" />

      <!-- Menu: Set FrameWeb Stereotype. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype"
        label="Set FrameWeb Stereotype"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Set FrameWeb Stereotype > Mapped Superclass -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.entity.mapped"
        label="Mapped Superclass"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Transient Class -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.entity.transient"
        label="Transient Class"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Persistent Class -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.entity.persistent"
        label="Persistent Class"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > Service Class -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-a_3096983 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.application.service"
        label="Service Class"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
        icon="icons/letter-a-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > DAO Class -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-a_3096983 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.persistence.dao.class"
              label="DAO Class"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
              icon="icons/letter-a-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > DAO Interface -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-a_3096983 -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype.persistence.dao.interface"
              label="DAO Interface"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype/#"
              icon="icons/letter-a-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassContextController" />
      </action>

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.menu.stereotype" />
    </contextSensitiveActionSet>
    <!-- -->

    <!-- ************************************************************* -->
    <!-- Context-menus (right-click) for UML Clas Attribute elements. -->
    <!-- ************************************************************* -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute">
      <!-- Applies to classes. -->
      <contextTypes all="false" />
      <include type="Attribute" />

      <!-- Menu: Set FrameWeb Stereotype. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype"
        label="Set FrameWeb Stereotype"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Set FrameWeb Stereotype > version -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.version"
        label="version"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > transient -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.transient"
        label="transient"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > persistent -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.persistent"
        label="persistent"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > lob -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
          id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.lob"
          label="lob"
          style="normal"
          menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
          icon="icons/letter-e-black-block.png">
          <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > id -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.id"
              label="id"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
              icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Set FrameWeb Stereotype > embedded -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype.entity.persistent.embedded"
              label="embedded"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype/#"
              icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToClassAttributeContextController" />
      </action>

      <!-- Menu: Add FrameWeb Constraint. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint"
        label="Add FrameWeb Constraint"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Add FrameWeb Constraint > precision=timestamp -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.precision.timestamp"
        label="precision=timestamp"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > precision=time -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.precision.time"
        label="precision=time"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > precision=date -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.precision.date"
        label="precision=date"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > nullable -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.nullable"
        label="nullable"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > not null -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.notnull"
        label="not null"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>


      <!-- Menu Item: Add FrameWeb Constraint > generation=sequence -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.generation.sequence"
              label="generation=sequence"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
              icon="icons/letter-e-black-block.png">
        <actionController
                class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController"/>
      </action>


      <!-- Menu Item: Add FrameWeb Constraint > generation=none -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.generation.none"
              label="generation=none"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
              icon="icons/letter-e-black-block.png">
        <actionController
                class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController"/>
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > generation=identity -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.generation.identity"
              label="generation=identity"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
              icon="icons/letter-e-black-block.png">
        <actionController
                class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController"/>
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > generation=auto -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
              id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.generation.auto"
              label="generation=auto"
              style="normal"
              menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
              icon="icons/letter-e-black-block.png">
        <actionController
                class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController"/>
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > column = <name> -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.column"
        label="column = &lt;name&gt;"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > size = <value> -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint.entity.persistent.size"
        label="size = &lt;value&gt;"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToClassAttributeContextController" />
      </action>

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.class.attribute.menu.stereotype" />
    </contextSensitiveActionSet>
    <!-- -->

    <!-- ************************************************************* -->
    <!-- Context-menus (right-click) for UML Association End elements. -->
    <!-- ************************************************************* -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end">
      <!-- Applies to classes. -->
      <contextTypes all="false" />
      <include type="AssociationEnd" />

      <!-- Menu: Add FrameWeb Constraint. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint"
        label="Add FrameWeb Constraint"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Add FrameWeb Constraint > collection=set -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.collection.set"
        label="collection=set"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > collection=map -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.collection.map"
        label="collection=map"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > collection=list -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.collection.list"
        label="collection=list"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > collection=bag -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.collection.bag"
        label="collection=bag"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=none -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.none"
        label="cascade=none"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=all -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.all"
        label="cascade=all"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=merge -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.merge"
        label="cascade=merge"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=persist -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.persist"
        label="cascade=persist"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=remove -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.remove"
        label="cascade=remove"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > cascade=refresh -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.cascade.refresh"
        label="cascade=refresh"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > fetch=eager -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.fetch.eager"
        label="fetch=eager"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > fetch=lazy -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.fetch.lazy"
        label="fetch=lazy"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > order=natural -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.order.natural"
        label="order=natural"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > order=<columns> (ascending) -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.order.ascending"
        label="order= &lt;columns&gt; (ascending)"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Constraint > order=<columns> (descending) -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint.entity.persistent.order.descending"
        label="order= &lt;columns&gt; (descending)"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.AddFrameWebConstraintToAssociationEndContextController" />
      </action>


      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.association.end.menu.constraint" />
    </contextSensitiveActionSet>
    <!-- -->

    <!-- ************************************************************ -->
    <!-- Context-menus (right-click) for UML Generalization elements. -->
    <!-- ************************************************************ -->
    <contextSensitiveActionSet id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization">
      <!-- Applies to classes. -->
      <contextTypes all="false" />
      <include type="Generalization" />

      <!-- Menu: Add FrameWeb Stereotype. -->
      <menu
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype"
        label="Add FrameWeb Stereotype"
        mnemonic="F"
        menuPath="#"
        icon="icons/frameweb-logo.png" />

      <!-- Menu Item: Add FrameWeb Stereotype > join -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype.entity.persistent.join"
        label="join"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToGeneralizationContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Stereotype > single-table -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype.entity.persistent.singletable"
        label="single-table"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToGeneralizationContextController" />
      </action>

      <!-- Menu Item: Add FrameWeb Stereotype > union -->
      <!-- Icon source: https://www.flaticon.com/free-icon/letter-e_3097003# -->
      <!-- Icon author: https://www.flaticon.com/authors/md-tanvirul-haque -->
      <action
        id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype.entity.persistent.union"
        label="union"
        style="normal"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype/#"
        icon="icons/letter-e-black-block.png">
        <actionController class="br.ufes.inf.nemo.frameweb.vp.controllers.SetFrameWebStereotypeToGeneralizationContextController" />
      </action>

      <!-- Separates FrameWeb menus from other Visual Paradigm menus and items. -->
      <!-- Should be placed after the last menu in this action set. -->
      <separator id="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.separator"
        menuPath="br.ufes.inf.nemo.frameweb.vp.actionset.context.generalization.menu.stereotype" />
    </contextSensitiveActionSet>
    <!-- -->
  </actionSets>
</plugin>
